.articles-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 30px;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
}

.loading {
    justify-content: center;
    display: flex;
    align-items: center;
    height: inherit;
    color: var(--custom-turquoise);
    font-size: 2rem;
}

.articles-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 17px 17px 17px;
    background: var(--subreddit-wrapper-darkblue);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ffffff26;
    width: 100%;
    height: 100%;
}

.articles-container article {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    min-width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 12px;
    background: var(--gradient-purple-to-turquoise);
    background-size: 500% auto;
    min-width: 93%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.article-title {
    color: #002;
    font-family: 'Brush Script MT', cursive;
    background: transparent;
    padding: 0;
    scrollbar-width: none;
    overflow: scroll;
}

.article-title h4 {
    width: 100%;
}

.article-title h4:hover {
    text-decoration: underline;
}

.article-info {
    display: flex;
    padding-top: 1px;
}

.article-author {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Comic Sans MS', Arial, sans-serif;
    opacity: 0.6;
    width: 85%;

}

.article-author h4 {
    font-weight: lighter;

}

.author-name {
    font-weight: 500;
}


.article a {
    text-decoration: none;
}

.article h3 {
    color: var(--text-color);
}

a span {
    color: var(--text-color);
}

a span:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px 5px 5px;
    width: 100rem;
    border: 1px solid #a89dfc75;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    color: black;
    font-size: 0.94rem;
}


.comment-box {
    color: var(--custom-turquoise);
}

.comment-text {
    padding-left: 5px;
}

.fa-message {
    padding-top: 3px;
}

.date-box {
    display: flex;
    justify-content: center;
    width: 15%;
    color: var(--text-color);
    opacity: 0.6;
}