.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #FE4880, #FFCE00);
    padding: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.nav-logo img {
    max-height: 70px;
    width: auto;
}

.website-name {
    padding: 10px;
    font-size: 2rem;
}