.subreddits-container {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    flex-wrap: wrap;
    margin-top: 100px;
    row-gap: 25px;
    column-gap: 25px;
    max-height: 100vh;

}

.subreddits-wrapper {
    /* display: grid;
    /* max-width: 60%; */
    /*grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px; */

    /* 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 93%;
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 100px;
    justify-content: center; */
}


.subreddits-block {
    display: flex;
    max-width: 600px;
    max-height: 700px;
    overflow: hidden;
}