.searchbar-background {
    position: sticky;
    top: 20px;
    display: flex;
    width: 100%;
}

.searchbar-container {
    padding-left: 10px;
    background: var(--gradient-pink-to-yellow);
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
}

.searchbar-border-with-delete {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 85%;
    padding: 5px;
}

.searchbar-without-delete {
    height: 15%;
    padding: 5px;
}


input.searchbar {
    display: inline-block;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: var(--text-color);
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

.delete-button {
    width: 15%;
    height: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    background: #ffffff38;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.fa-trash-alt::before,
.fa-trash-can::before {
    content: "\f2ed";
    font-size: 1.5rem;
    color: var(--custom-turquoise);
}

.fa-trash-can:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}