.searchbar-background {
    position: sticky;
    top: 30px;
    display: flex;
    width: 100%;
}

.searchbar-container {
    position: sticky;
    top: 30px;
    display: flex;
    padding-left: 10px;
    background: linear-gradient(to right, #FE4880, #FFCE00);
    /* z-index: 1; */
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
}

.searchbar-border-with-delete {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.searchbar-without-delete {
    min-height: 70px;
}


input.searchbar {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600px;
    font-style: italic;
    text-transform: uppercase;
    color: #002;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

.delete-button {
    min-width: 70px;
    min-height: 70px;
    border-radius: 4px;
    outline: none;
    border: none;
    background: #ffffff38;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fa-trash-alt::before,
.fa-trash-can::before {
    content: "\f2ed";
    font-size: 1.5rem;
    color: #5ae3e7;
}