* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    background: var(--color-bg);
    background-attachment: fixed;
    font-size: 1rem;

}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

a {
    color: unset;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 250px;
    color: #ffffff61;
    border-top: 0.3px solid #ffffff30;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 65%;
    width: 100%;
}

.credits {
    text-align: center;
    margin: 10px 0 15px 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 62px;
    color: #ffffff9c;
    margin: 25px;
}

.icon-container svg:hover {
    cursor: pointer;
    color: var(--custom-turquoise);
    transform: scale(1.1);
    transition: all .2s ease;
}



/* Small Screens */

@media (max-width: 767px) {

    .subreddit-container {
        width: 90%;
        padding: 50px 0px 50px 0px;
    }

    .subreddit-block {
        width: 95%;
    }

    .add-subreddit {
        width: 95%;
    }

    .articles-container {
        padding: 10px 10px 10px 10px;
    }

    .loading {
        font-size: 1.1rem;
    }

    .button-plus {
        padding: 7px 45px;
    }

    .searchbar-border-with-delete {
        padding: 8px;
    }

    .searchbar-without-delete {
        padding: 8px;
    }

    input.searchbar {
        font-size: 1.2rem;
    }

}

/* Medium Screens  */

@media (min-width: 768px) and (max-width: 1023px) {

    .subreddit-container {
        width: 95%;
        padding: 50px 0px 50px 0px;
    }

    .subreddit-block {
        width: 90%;
    }

    .add-subreddit {
        width: 90%;
    }

    .articles-container {
        padding: 15px 15px 15px 15px;
    }

    .loading {
        font-size: 1.2rem;
    }

    .button-plus {
        padding: 7px 45px;
    }

    .searchbar-border-with-delete {
        padding: 8px;
    }

    .searchbar-without-delete {
        padding: 8px;
    }

    input.searchbar {
        font-size: 1.2rem;
    }

}