@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: #040C18;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}


.app-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}



.searchbar-container {
  position: fixed;
  background: linear-gradient(to right, #FE4880, #FFCE00);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 75%;

}

input.searchbar {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600px;
  font-style: italic;
  text-transform: uppercase;
  color: #002;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}



.subreddits-container {
  display: flex;

}

.subreddits-block {
  display: flex;
  flex: 1;
  width: 32%;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 50px;
  height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.articles-container {

  max-width: 80vw;
  font-size: 1.3125rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;

}

.articles-container article {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 15px;
  max-width: 60vw;
  max-height: 400px;
  background-color: wheat;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.028),
    0px 0px 5.3px rgba(0, 0, 0, 0.04),
    0px 0px 10px rgba(0, 0, 0, 0.05),
    0px 0px 17.9px rgba(0, 0, 0, 0.06),
    0px 0px 33.4px rgba(0, 0, 0, 0.072),
    0px 0px 80px rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  overflow: hidden;
}

.card-body {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 10px 10px 10px;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.article-author {
  box-sizing: border-box;
  padding: 10px 10px 10px 0px;
  font-size: 1.2rem;
  color: #002;
  font-family: 'Comic Sans MS', Arial, sans-serif;

}

.article-author h4 {
  font-weight: lighter;
}

.author-name {
  font-weight: 500;
}


.article-title {
  box-sizing: border-box;
  padding-bottom: 10px;
  color: #002;
  font-family: 'Brush Script MT', cursive;
}



.article:hover {
  background: linear-gradient(to right, #ffb0c8, #ffe992);
}

.article a {
  text-decoration: none;
}

.article h3 {
  color: black;
}

a span {
  color: #002;
}

a span:hover {
  color: #002;
  text-decoration: underline;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 5px 5px 5px;
}

.comment-text {
  padding-left: 8px;
}

.fa-message {
  padding-top: 3px;
}

.date-box {
  padding-top: 3px;
}